### Create a Variable

# Instantiate a Variable
variable_name = value

In [14]:
# Created a Variable called 'salary' and assigned it the Value of 100000
salary = 100000

In [15]:
# Prints out the Value stored in the salary Variable that was defined above
salary

100000

In [16]:
# This is a String that Prints out the word salary
"salary"

'salary'

### Calculate the Following

Total Salary = (Base Salary) * (1 + Bonus Rate)

In [25]:
# Define Variables
## Varibles can be a combo of letters/numbers/underscores - Don't use spaces as this will give Syntax Errors
#Base1 Salary # This line will throw an Error - Uncomment to see
base_salary = 100000
bonus_rate = .10
total_salary = (base_salary) * (1 + bonus_rate)

total_salary

110000.00000000001

### Variables aren't only numbers

## Example

* Create Variables to store the following information about a job posting:
    * Job ID (Integer)
    * Company Name (string)
    * Salary Rate (string, but consider how you might store this as a numerical type for calculations)
    * Job Work From Home (boolean)

In [28]:
# Define Variables
job_id = 1
company_name = "Neil's Company"
salary_rate = 100000
job_wfh = True

# Calling the Variables
print(job_id)
print(company_name)
print(salary_rate)
print(job_wfh)

1
Neil's Company
100000
True

In [29]:
# Define Variables
job_id = 101
company_name = "Data Analyst"
salary_rate = 125000

# Calling the Variables
print("Data Job Description")
print("++++++++++++++++++++")
print("Job ID:", job_id)
print("Company Name:", company_name)
print("Salary:", salary_rate)
print("WFH:", job_wfh)

Data Job Description
++++++++++++++++++++
Job ID: 101
Company Name: Data Analyst
Salary: 125000
WFH: True

### Basic Python Terms - Dictionary

# Objects: The Data Records
---
**Objects:** A data record with Fields; an instance of a Class.
- Everything is Python is an Object and that is a record of Data

In [33]:
# Declaring this Variable makes both of the below Objects
salary = 100000

100000 # Object 1
salary # Object 2
print(salary) # Object 3 (Print Function counts as an Object)
print # Object 4

# If we want to inspect what type of Object something is we can use the type() Function by placing the Object in as the Argument
type(100000) # This looks to see what type of Object 100000 is - It returns Int

# Variable

# Function

# Class

# Method

# Attribute

100000

int